{% extends "base.html" %}
{% load static %}

{% block content %}


    <div class="row"> <br><br><br><br><br>
        <div class="col s12 center-align">
            <i class="large material-icons green-text">check_circle</i>
        </div>
        <div class="col s12 center-align">
            <h4>Your password has been successfully changed<b>{{request.user.username}}</b></h4>
            
            <h5><a href="{% url 'index' %}">Home page</a></h5>
        </div>
    </div><br><br><br><br><br>


{% endblock content %}