{% extends "base.html" %}
{% load static %}

{% block content %}


    <div class="row"> <br><br><br><br><br>
        <div class="col s12 center-align">
            <i class="large material-icons green-text">check_circle</i>
        </div>
        <div class="col s12 center-align">
            <h4>We have emailed you instructions to reset your password</h4>
            <p>If an account exist with the email you entered. You will receive the token</p>
            <p>If you don't receive your email. Ckeck your spam folder or make sure your are entered the correct email</p>
            
            <h5><a href="{% url 'index' %}">Home page</a></h5>
        </div>
    </div><br><br><br><br><br>


{% endblock content %}